<div class="card-header">
  </div>
    <ul class="list-group">
      <li>
        <div class="d-flex justify-content-between">
        <label for="">Nombre</label>
        <label for="">Apellido</label>
        <label for="">Telefono</label>
        <label for="">Email</label>
        </div>
      </li>
      <li class="list-group-item" *ngFor="let person of listPeople">
          <div class="d-flex justify-content-between">
              <label>{{person.Name}}</label>
              <label>{{person.LastName}}</label>
              <label>{{person.PhoneNumber}}</label>
              <label>{{person.Email}}</label>
          </div>
      </li>
    </ul>