<div class="logIn" style="border: 5px solid rgb(229, 193, 121); border-radius: 5%;">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h1>Iniciar Sesion</h1>
    <div class="form-outline mb-4">
        <label class="form-label" for="email">Email </label>
      <input type="email" formControlName="email" class="form-control" />   
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="password">Constraseña</label>
      <input type="password" formControlName="password" class="form-control" />    
    </div>
    <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary btn-block mb-4" style="margin-left: 40%;" >Sign in</button>
    <div style="margin-left: 40%;">
      <a href="signUp">Registrarse</a>
    </div>
  </form>
</div>
